
{% load static %}
<div class="card">
    <img src="/static/img/the-hunger-games-jennifer-lawrence.webp" width="200" class="card-img-top" alt="">
  
    <div class="card-body">
      <h5 class="card-title">jogos vorazes</h5>
      <p class="card-text">Em um futuro distópico, a Capital, anteriormente conhecida como a América do Norte, é dividida em 12 distritos que precisam pagar tributos de um forma brutal. Um casal de adolescentes é forçado a participar dos Jogos Vorazes, e precisa lutar até a morte e tudo é transmitido ao vivo pela televisão.</p>
    </div>
  </div>
  
  <div class="card">
    <img src="/static/img/coraline.jpg" class="card-img-top" alt="">
  
    <div class="card-body">
      <h5 class="card-title">coraline</h5>
      <p class="card-text">Aplaudido desde sua estréia pelo impressionante resultado artístico e visual, Coraline e o Mundo Secreto só deixará de ser um dos favoritos ao Oscar de Melhor Longa de Animação no próximo ano caso seja esquecido – afinal, não foi uma boa ideia lançá-lo tão no início do ano. E, se isso acontecer, será um terrível caso de desprezo a um dos longas mais intrigantes já feito! Combinando animação stop-motion (aquela feita com massinhas) e terceira dimensão (o primeiro do gênero feito originalmente neste formato) com um enredo assustador, esta é quase uma versão dark do clássico Alice no País das Maravilhas – no início, tudo é muito leve e encantador, mas aos poucos o que vemos vai mudando de figura, e o pânico não tardará muito a chegar!</p>
    </div>
  </div>
  
  <!-- <div class="card" aria-hidden="true">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-6"></span>
        <span class="placeholder col-8"></span>
      </p>
      <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
    </div>
  </div> -->