{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="contt">

  <div class="card col-4">
    <img src="/static/img/[O segredo da mente milionária].jpg" class="card-img-top" alt="...">

    <div class="card">
      <h5 class="card-title">os segredos de uma mente milionaria </h5>
      <p class="card-text">Neste livro, Eker mostra como substituir uma mentalidade destrutiva que você talvez nem
        perceba que tem pelos "arquivos de riqueza", 17 modos de pensar e agir que distinguem os ricos das demais
        pessoas. Alguns desses princípios fundamentais são: Ou você controla o seu dinheiro ou ele controlará você.</p>
      <a href="{% url 'livro' %}" class="btn btn-primary">Saiba Mais</a>
    </div>
  </div>

  <div class="card col-4">
    <div class="card">
      <h5 class="card-title">livros</h5>
      <p class="card-text">para ver mais mais opções de seus livros clique em saiba mais</p>
      <a href="{% url 'livro' %}" class="btn btn-primary">Saiba Mais</a>
    </div>
  </div>
</div>

<div class="card col-4">
  <div class="card">
    <h5 class="card-title">livros</h5>
    <p class="card-text">para ver mais mais opções de seus livros clique em saiba mais</p>
    <a href="{% url 'livro' %}" class="btn btn-primary">Saiba Mais</a>
  </div>
</div>

<div class="card col-4">
  <div class="card">
    <h5 class="card-title">livros</h5>
    <p class="card-text">para ver mais mais opções de seus livros clique em saiba mais</p>
    <a href="{% url 'livro' %}" class="btn btn-primary">Saiba Mais</a>
  </div>
</div>

</div>

</div>


</div>
{% endblock %}